<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="Template" connectionString="Server=MONSERRAT-L;Initial Catalog=Template;Trusted_Connection=True;" />
    <!-->add name="Template" connectionString="Server=MXZAPM0LT704\SQLEXPRESS;Database=Template;User Id=Template;Password=Template;" />-->
  </connectionStrings>
</configuration>